.card {
  background: white;
  width: 200px;
  height: 300px;
  padding: 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.2s ease-in-out;
}

.card img{
  width: 200px;
  height: 135px;
}

.card p {
  font-size: 0.8em;
  opacity: 0.5;
  margin: 0;
}

.card:hover {
  transform: scale(1.05);
}
