.footer {
  background: #606C38;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  color: #FEFAE0;
  padding: 50px;
}

.footer p {
  opacity: 0.5;
  font-size: .5em;
}

.footer a {
  color: #FEFAE0;
}

.footer a:visited {
  color: #FEFAE0;
}

.footer a:hover {
  color: #d6d3bb;
}

.socials {
  font-size: 20px;
}

.socials i {
  padding: 16px;
}
